body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* SUBMENUS */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}
/* END OF SUBMENUS */

/* RECIPE STYLING */
body {
  background-color: linen;
}

.subColLeftOne {
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
	position:relative;
}

.subColLeftTwo {
  margin-bottom: 2px;
  margin-right: 2px;
}

.mainColLeft {
  margin-left: 2px;
  margin-right: 2px;
}

.mainColRight {
  margin-right: 2px;
}

.rowForCol {
  /*border: 1px solid red;*/
}

.myList {
  padding: 10px;
}

.buttonRow {
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 200px;
  margin-bottom: 15px;
  /*Two buttons on the same row*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  
}

.buttonDown {
}

.imageCont {
  background-color: rgb(134, 132, 135);
  padding: 5px;
  border-radius: 10px;
}

.imageCont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.imageRight {
}

.recipe {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
}
/* End of recipe styling */

/* About Us */
.rowFooter {
  text-align: center;
  padding: 10px;
}

.subColLeftOne .accordion{
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 10px;
  /* Framing */
  border: 4px solid hsl(0, 0%, 90%);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.imageRight.aboutUs {
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    /* Framing */
    border: 4px solid hsl(0, 0%, 90%);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

/* End of about us */
